*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:  rgb(38, 44, 46);
}

html{
    scroll-behavior: smooth;
}

@keyframes transitionIn1{
    from{
        opacity: 0;
        transform: translateY(-70%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes transitionIn2{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

body{
    overflow-x: hidden;
    background-color: ghostwhite;
    font-family: 'Nunito Sans', sans-serif;
}

h2{
    font-style: italic;
    font-size: 25px;
    font-weight: 800;
}

section{
    height: 90vh;
    width: 100%;
    position: relative;
    padding: 2% 0 2% 0;
    margin-top: 10vh;
}

.anchor-top{
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
}

.scroll-to-top{
    width: 40px;
    height: 40px;
    background-color: rgb(184, 233, 252);
    background-image: url(img/arrow-up-icon.png);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    border-radius: 25px;
    position: fixed;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.scroll-to-top:hover{
    width: 50px;
    height: 50px;
    border: 5px solid black;
    transform: translateY(-3px);
}