.home-a button{
    background-color: ghostwhite;
}

.home-a button:hover{
    background-color: rgb(238, 250, 255);
}

.sectionTitle{
    padding: 1%;
    text-align: center;
    height: 15%;
    animation: transitionIn1 1s;
}

.box1{
    background-color: rgb(136, 136, 136);
    height: 75%;
    width: 100%;
    animation: transitionIn2 2s;
    position: relative;
}

.app-presentation{
    width: 50%;
    height: 100%;
    position: absolute;
}

.box1-login-img{
    width: 33%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(img/login-app-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.box1-map-img{
    width: 33%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 33%;
    background-image: url(img/map-app-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.box1-menu-img{
    width: 34%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 66%;
    background-image: url(img/menu-app-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.box1-right{
    padding: 10%;
    height: 100%;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.box1-right h2{
    color: white;
}

.box1-right p{
    color: white;
}

.box2{
    padding: 20px;
    height: 10%;
    width: 100%;
    text-align: center;
    position: relative;
    animation: transitionIn2 2s;
}

.box2 a{
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: 7px;
    border-radius: 3px;
    transition: all ease 0.5s;
}

.arrow-down-left{
    height: 40px;
    position: relative;
    top: 18px;
}

.arrow-down-right{
    transform: scaleX(-1);
    height: 40px;
    position: relative;
    top: 18px;
}

.box2 a:hover{
    padding: 25px;
}

.box3{
    background-color: rgb(151, 191, 207);
    height: 90%;
    width: 100%;
    text-align: center;
    position: relative;
    animation: transitionIn2 2s;
}

@media screen and (max-width:1050px){
    .app-presentation{
        position: relative;
        width: 100%;
        height: 70%;
    }
    
    .box1-right{
        padding: 2% 5% 2% 5%;
        position: relative;
        width: 100%;
        height: 30%;
    }
}