.watch-app-position{
    height: 150px;
    width: 150px;
}

.wrist-wrap{
    background-color: black;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    left: 25%;
}

.watch-border{
    background-color: black;
    width: 125px;
    height: 125px;
    border-radius: 75px;
    position: absolute;
    top: 12.5px;
    right: 12.5px;
}

.watch-screen{
    width: 90%;
    height: 90%;
    border-radius: 75px;
    position: relative;
    top: 5%;
    left: 5%;
    background-image: url(img/map-2.png);
    background-size: 100%;
}